<div class="panel panel-default clan-item">
    <div class="panel-heading">
        <h3 class="panel-title">{{item.tag}}</h3>
    </div>
    <div class="panel-body">
        <p>Joindate: {{item.date}}</p>
        <p>Added by: {{item.adderName}}</p>
    </div>
    <div class="panel-footer text-right">
      {{yield}}
    </div>
</div>