<h2>Add a clan</h2>

<div class="row">

  <div class="col-md-6">
    {{clan-item-form item=model buttonLabel='Add to clanlist' action='saveClan'}}
  </div>

  <div class="col-md-4">
    {{#clan-item item=model}}
      <br/>
    {{/clan-item}}
  </div>

</div>